<div class="chunk">
  <div class="line_numbers">
    ... <br />
    <% old_line_number = chunk.old_line_number %>
    <% for line in chunk.lines -%>
      <% unless line.add? || line.note? %>
        <%= old_line_number %>
        <% old_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line_numbers">
    ... <br />
    <% new_line_number = chunk.new_line_number %>
    <% for line in chunk.lines -%>
      <% unless line.delete? || line.note? %>
        <%= new_line_number %>
        <% new_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line"> </div>
  <% for line in chunk.lines -%>
    <div class="line <%= class_for_diff_line(line) %>"><%=h line.signifier %><%=h line.text %></div>
  <% end %>
</div>
