<div class="chunk">
  <div class="line_numbers">
    ... <br />
    <% old_line_number = chunk.range_info.old_line_number.to_i %>
    <% for line in chunk.lines -%>
      <% unless line.signifier.to_s == '+' %>
        <%= old_line_number %>
        <% old_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line_numbers">
    ... <br />
    <% new_line_number = chunk.range_info.new_line_number.to_i %>
    <% for line in chunk.lines -%>
      <% unless line.signifier.to_s == '-' %>
        <%= new_line_number %>
        <% new_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line"> </div>
  <% for line in chunk.lines -%>
    <div class="line <%= class_for_signifier(line.signifier) %>"><%=h line.signifier %><%=h line.text.to_s.chomp %></div>
  <% end %>
</div>