<div class="chunk">
  <div class="line_numbers">
    ... <br />
    <% source_line_number = chunk.range_info.source_line_number.to_i %>
    <% for line in chunk.lines -%>
      <% unless line.signifier.to_s == '+' %>
        <%= source_line_number %>
        <% source_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line_numbers">
    ... <br />
    <% target_line_number = chunk.range_info.target_line_number.to_i %>
    <% for line in chunk.lines -%>
      <% unless line.signifier.to_s == '-' %>
        <%= target_line_number %>
        <% target_line_number += 1 %>
      <% end %>
      <br />
    <% end %>
  </div>
  
  <div class="line"> </div>
  <% for line in chunk.lines -%>
    <div class="line <%= class_for_signifier(line.signifier) %>"><%=h line.signifier %><%=h line.text.to_s.chomp %></div>
  <% end %>
</div>