<% @title = "Commit #{@commit.id} to #{@repo.name}" %>

<h1><%= link_to(h(@repo.name), @repo) %></h1>

<%= link_to("Tree", repo_tree_path(@repo, @commit.tree.id)) %>

<p><%=h @commit.message %></p>

<p><%=h @commit.author.name %> &lt;<%=h @commit.author.email %>&gt;</p>

<p><%= time_ago_in_words(@commit.authored_date) %> ago</p>

<% if @diff %>
  <%= render :partial => 'git_patch', :collection => @diff.git_patches %>
<% else %>
  <p>Couldn't parse diff output; the raw diff follows:</p>
  
  <%= listing(@raw_diff) %>

  <p><%=h @parser.failure_reason %></p>
<% end %>

